---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const translations = useTranslations(lang);
---

<main class="w-full h-full flex items-center justify-center flex-col">
    <h1 class="text-xl md:text-3xl font-bold">{translations('home.main.title')}</h1>
    <p class="text-lg md:text-xl">{translations('home.main.subtitle')}</p>
</main>